*,
*::before,
*::after {
  text-decoration: none;
  list-style: none;
  padding: 0;
  margin: 0;
}

:root {
  /* FONT USED ON PAGE */
  /*

    font-family: 'Montserrat', sans-serif;

    font-family: 'Raleway', sans-serif;

    font-family: 'Roboto', sans-serif;
  
  */

  /*   END OF FONTS ON PAGE            */
  /*   COLORS USED ON PAGE             */
  --logo-color: #000000;
  --main-normal-text-color: #212121;
  --main-text-color: #757575;
  --main-link-color: #2196f3;
  --white: #ffffff;
  --header-bg: #2f303a;
  --team-bg: #f5f4fa;
  --nav-stroke: #ececec;
  /*   END OF COLORS USED ON PAGE      */
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.advantages {
  background-color: var(--white);
}

body {
  background-color: var(--main-normal-text-color);
  font-family: "Roboto", "Raleway", sans-serif;
  color: var(--main-normal-text-color);
  font-size: 14px;
  width: 1600px;
  line-height: 1.5;
}

.center-all {
  margin-left: auto;
  margin-right: auto;
}

/*  EVERYTHING TO STYLE NAVBAR  */
.navi-background {
  background-color: var(--white);
  stroke: var(--nav-stroke);
}

.navigator {
  display: flex;
  align-items: center;
  height: 80px;
}

.navigation-list {
  display: flex;
  padding-left: 93px;
  gap: 46px;
}

.social-links {
  display: flex;
  padding-left: 371px;
  gap: 50px;
  color: var(--main-text-color);
}

.logo-link {
  color: var(--logo-color);
  font-family: "Raleway";
  font-size: 26px;
  font-weight: 700;
}

.logo-link span {
  color: var(--main-link-color);
}

.primary-link {
  font-family: "Roboto";
  color: var(--main-normal-text-color);
  font-weight: 500;
}

.social-links a {
  color: var(--main-text-color);
  font-weight: 500;
}

.primary-link:hover {
  color: var(--main-link-color);
}
/*   END OF | END OF | END OF   */
/* ---------------------------  */
/* EVERYTHING TO STYLE SECTIONS */

.section {
  padding: 94px 0px 94px 0px;
}

.section h2 {
  text-align: center;
  padding-bottom: 50px;
  font-size: 36px;
  font-weight: 700;
}

.section-list {
  display: flex;
  gap: 30px;
}

.section-skill-post {
  width: 270px;
  line-height: 1.7;
  text-align: left;
}
.section-skill-post p {
  color: var(--main-text-color);
}

/*   END OF | END OF | END OF   */
/* ---------------------------  */
/*      SOLUTIONS  STYLING      */

.solutions {
  background-color: var(--header-bg);
  height: 600px;
  padding: 200px 452px 200px 452px;
  text-align: center;
}

.solutions h1 {
  font-size: 44px;
  color: white;
  width: 696px;
  font-weight: 900;
  height: 120px;
}

.solutions button {
  margin-top: 30px;
  background-color: #2196f3;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  padding: 10px 42px 10px 41px;
  border: var(--main-link-color);
}

/*   END OF | END OF | END OF   */
/* ---------------------------  */
/*     WHAT WE DO  STYLING      */

.what-we-do {
  padding-top: 0px;
  background-color: var(--white);
}

.whatwedo-list {
  display: flex;
  gap: 30px;
}

.teammates {
  font-family: "Roboto";
  font-size: 16px;
  background-color: var(--team-bg);
}

.teammate-data {
  width: 270px;
  background-color: var(--white);
}

.teammate-list {
  display: flex;
  gap: 30px;
}

.teammate-desc h4 {
  font-weight: 500;
}

.teammate-data figcaption {
  padding: 30px 70px 30px 70px;
  text-align: center;
}
/*   END OF | END OF | END OF   */
/* ---------------------------  */
/*        FOOTER STYLING        */

.footer {
  line-height: 24px;
  font-size: 14px;
}

.footer-bg {
  background-color: var(--header-bg);
  height: 252px;
}

.footer address {
  color: rgba(255, 255, 255, 1);
}

.white {
  color: var(--white);
}

.social-links-footer .primary-link {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
}
